@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using ASPTableEditor.Models
@model Employee

<link href="~/Styles/MainStyle.css" rel="stylesheet" />

<h1>Create</h1>


<form method="post" action="/Home/Index">
    <button type="submit" class="btn btn-primary">Home</button>
</form>

<form method="post" asp-action="EmployeeItemCreate" asp-route-id="@Model.Id">
    <table>
        <tr>
            <td>
                <label asp-for="Id" id="lblEmployeeId">Id</label>
            </td>
            <td>
                <input asp-for="Id" class="form-control" id="tbEmployeeId" type="text" asp-for="Id" value="@Model.Id" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Name" id="lblEmployeeName">Name</label>
            </td>
            <td>
                <input asp-for="Name" class="form-control" id="tbEmployeeName" type="text" asp-for="Name" value="@Model.Name" />
            </td>
            <td>
                <span asp-validation-for="Name" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="BirthDate" id="lblEmployeeBirthDate">BirthDate</label>
            </td>
            <td>
                <input asp-for="BirthDate" class="form-control" id="tbEmployeeBirthDate" type="text" asp-for="BirthDate" value="@Model.BirthDate" />
            </td>
            <td>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="IsMarried" id="lblEmployeeIsMarried">IsMarried</label>
            </td>
            <td>
                <input asp-for="IsMarried" class="form-control" id="tbEmployeeIsMarried" type="checkbox" asp-for="IsMarried" />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Phone" id="lblEmployeePhone">Phone</label>
            </td>
            <td>
                <input asp-for="Phone" class="form-control" id="tbEmployeePhone" type="text" asp-for="Phone" value="@Model.Phone" />
            </td>
            <td>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Salary" class="form-control" id="lblEmployeeSalary">Salary</label>
            </td>
            <td>
                <input id="tbEmployeeSalary" type="text" asp-for="Salary" value="@Model.Salary" />
            </td>
            <td>
                <span asp-validation-for="Salary" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <button type="submit" class="btn btn-primary">Redeem</button>
            </td>
        </tr>
    </table>
</form>
